<div class="container-fluid">
    <h1 class="heading">Add Quote</h1>
    <form (ngSubmit)="submit">
        <div class="form-group">
            <label for="name">Name</label><br>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="quote-title">Quote Title</label><br>
            <input type="text" name="quote-title" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="quote-msg">Quote</label><br>
            <input type="text" name="quote-msg" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="quote-author">Quote Author</label><br>
            <input type="text" name="quote-author" class="form-control" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
  
